.button {
  -fx-font-weight: bold;
  -fx-background-color: #007517;
  -fx-font-size: 1.4em;
  -fx-background-radius: 22;
  -fx-text-fill: white;
}

.button:hover {
  -fx-font-weight: bold;
  -fx-background-color: #ffffff;
  -fx-background-radius: 22;
  -fx-font-size: 1.4em;
  -fx-text-fill: #007517;
  -fx-border-color: #007517;
  -fx-border-radius: 22;
  -fx-border-width: 2;
}

.rect-bin {
  -fx-cursor: hand;
  /* Change cursor to hand pointer on hover */
}


/* ScrollPane Styling*/
.scroll-pane .scroll-bar:vertical {
  -fx-background-color: transparent;
  -fx-background-radius: 0;
}

.scroll-pane .scroll-bar:vertical .track {
  -fx-background-color: transparent;
  -fx-border-color: transparent;
  -fx-background-radius: 0;
  -fx-border-radius: 3em;
}

.scroll-pane .scroll-bar:vertical .decrement-button {
  -fx-background-color: transparent;
  -fx-border-color: transparent;
}

.scroll-bar:vertical .thumb {
  -fx-background-color: #007517;
  -fx-opacity: 0.5;
  -fx-background-radius: 5em;
}

.scroll-pane .scroll-bar .increment-arrow,
.scroll-pane .scroll-bar .decrement-arrow {
  -fx-background-color: #007517;
}